@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
  margin: 0;
  padding: 0;
}

:root{
  --Titles: 'Syne-Bold';
  --Corps-de-texte: 'Syne-Regular';
  --Logo : 'Krona One'
}



@font-face {
  font-family : 'Raleway Regular';
  src: url('./assets/types/Raleway-Regular.ttf') format('truetype'); 
}
@font-face {
  font-family : 'Karrik-Regular';
  src: url('./assets/types/Karrik-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family : 'Sora-ExtraBold';
  src: url('./assets/types/Sora-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family : 'Syne-Bold';
  src: url('./assets/types/Syne-Bold.ttf') format('truetype');
  font-weight:900; 
}
@font-face {
  font-family : 'Syne-SemiBold';
  src: url('./assets/types/Syne-SemiBold.ttf') format('truetype');
  font-weight: lighter; 
}
@font-face {
  font-family : 'Syne-Regular';
  src: url('./assets/types/Syne-Regular.ttf') format('truetype');
  font-weight: lighter; 
}







/* STYLE GLOBAL*/
*{
  margin: 0;
  padding: 0;
}
.scrollable-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Utilisez une hauteur fixe ou calculez dynamiquement en fonction de votre conception */
  overflow-y: auto; /* Rend le contenu scrollable en vertical si nécessaire */
  overflow-x: hidden;
}

.logo{
  width: 2rem;
  height: auto;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: .5rem 0rem 1rem 1rem;
}

a{
text-decoration: none;
color: black;
}

p{
  font-family: var(--Corps-de-texte);
  font-size: 1.5rem;
}

h1{
  font-family: var(--Titles);
  font-size: 5rem;
  gap: 1rem
}
section{
  margin: 10rem 0rem 10rem 0rem;
}


/* HEADER */
.header-container{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background-color: white;
  width: 100vw;
  height: fit-content;
  z-index: 1000;
}

.header-container img{
  width: 15rem;
  height: fit-content;
}


.left-section {
  flex: 1;
  margin-left: 3rem;
  font-family: var(--Logo);
  font-size: 2rem;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  font-family: var(--Titles);
  font-size: 1.2rem;
}



/* FOOTER */
.footer{
  position: fixed;
  top : 95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100vw;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  font-family: var(--Titles);
}
@media only screen and (max-width: 768px) {
  .footer{
    display: flex;
    flex-wrap: wrap;
    font-size: .6rem;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }
  .display{
    display: none;
  }
}

.footer img{
  margin-left: 1rem;
  width: 2rem;
  height: auto;
}

.flex-col-opposite{
  display: flex;
  flex-direction: column;
}


/* ACCUEIL */

.title{
  margin-top: 9rem;
}

.title div:first-child{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  animation: slideInLeft 1s ease-in-out;
}

#singularite{
  margin-left: 25rem;
  text-align:center;
}

.char:first-of-type{
  transform:unset !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fleur {
  animation: fadeIn 10s ease; /* Durée de 1 seconde avec un effet d'interpolation (easing) */
}



// #votre{
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
//   animation: slideInRight 2s ease-in-out;
//   gap: 2rem;
// }

#hovervideo{
  position: absolute;
  left: .2rem;
  bottom: .3rem;
  border-radius:90rem;
  width: 38.5rem;
  height: 10.6rem;
  object-fit: cover;
opacity: 0;}

#hovervideo:hover{
opacity: 1;}
@keyframes slideInLeft {
  from {transform: translateX(-100%);}
  to { transform: translateX(0);}
}
@keyframes slideInRight {
  from {transform: translateX(100%);}
  to {transform: translateX(0);}
}


.bg-hp{
  // margin-top: 15rem;
  position: relative;
  height: 100vh;
  // background-image: url("../src/assets/bg2.png");
  // object-fit: cover;
}
.bg-hp img{
  z-index: -3;
  position: absolute;
  top: 2rem;
  left: 80vw;
  width: 30vw;
  height: auto
}


/* INTRO */
#displayVideoMobile{
  display: none;
}

@media only screen and (max-width: 768px) {
  #displayVideo {
    display:none;
  }
  #displayVideoMobile{
    display: block;
  }
}

.video{
  max-width: 100vw;
  max-height: auto;
  object-fit:contain;
}



/* ROUE */

.Roue {
  position: relative;
  width: 150px; /* Ajustez selon vos besoins */
  height: 150px; /* Ajustez selon vos besoins */
  border-radius: 100%;
  background-color: white;
  border: 2px solid black;
}

.logo-roue {
position: relative;
top: 30%;
left:25%;
width: 50%;
height: auto;
}

.TexteCurviligne {
  position: absolute;
  top: 80px;
  left: 0;
  font-size: 16px; /* Ajustez selon vos besoins */
  font-weight: bold; /* Ajustez selon vos besoins */
  color: blue;
  shape-outside: path('M10,100 Q150,20 290,100'); /* Définit le chemin que le texte doit suivre */
}



.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  color: black;
  width: 100vw;
  height: fit-content;
  font-size: 7rem;
  border-top: .6rem solid black;
  border-bottom: .6rem solid black;
  margin-top: 6rem;

  overflow-y: scroll; /* Activer le scrolling vertical */
}
.scroll-text{
  display: flex;
  white-space: nowrap;
  font-family: var(--Corps-de-texte);
  height: auto; /* Hauteur de chaque mot */
  line-height: 100px; /* Centrage vertical */
}

.text {
  padding: 2rem;
}


//////// PROJETS ////////
.behance{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Karrik-Regular';
  font-size: 4rem;
  border: 2px solid black;
  border-radius: 30px;
  padding: 1rem;
  width: fit-content;
  height: 15vh;
  margin: auto;
 

  & a svg{
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
  }
}


.grid-lines div{
  border: 1px solid black;
  & p{
    font-size: 3rem;
  }
}

.imageHover{
  width: 20em;
  height : auto;
  z-index: 1000000;
}

.grid-container-projets{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 50vh, 80vw);
  // display: flex;
	overflow-x : scroll; /*permettre le scroll et non le depassement hors de l'écran*/
	scroll-snap-type : x mandatory;


}

.project-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(1, 50vw, 70vh);
  border-radius: 2rem;
  margin: .5rem;
}


.project-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: inherit;
  height: inherit;
}

.projectImg{
width: 70vw;
height: 75vh;
margin: .5rem;
border-radius: 2rem;
// padding: .5 2 2 .5rem;
}

.project-description{
background-color: #272221;
color: #f6eeea;
font-family: 'Karrik-Regular';;
border-radius: 2rem;
padding: 1rem 2rem 2rem 1rem;
width: 70vw;
height: fit-content +.5rem;
margin: .5rem;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: .5rem
}

.project-title{
    grid-column: 1/-1;
    line-height: .85;
    font-size: 4rem;
}

.project-link{
  border: 2px  solid #f6eeea;
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  margin-left: 3rem;
}

.carousel-btn {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 100%;
  border: 3px solid black;
  width:1vw;
  height: 2vh;
  margin: .2rem 0rem 0rem .3rem; 
}

.title-destructured{
  display: flex;
  flex-wrap: wrap;
  justify-content:'center';
  align-items: center;
}

.bulles{
  display: flex;
  flex-wrap: wrap;
  margin: .5rem

}

.bulles p{
  border: 2px solid black;
  border-radius: 30px;
  padding: 1rem;
  width: fit-content;
  margin: .2rem 0rem .5rem 1.5rem;

}

/* inspired form gumroad website */
.behance {
  // --bg: #000;
  // --hover-bg: #b9ff90;
  // --hover-text: #000;
  background: rgba(255, 255, 255, 0.874);
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.169);
  border-radius: 100px;
  padding: 0.8em 2em;
  transition: 0.2s;
}

.behance:hover {
  transform: translate(.5rem, 0.25rem);
}

.behance:active {
  transform: translate(0);
  box-shadow: none;
}

.pill{
  background-color: white;
  border : 3px solid black;
  border-radius: 60px;
  padding: 1rem;
}

.pill p {
  font-family: var(--Titles);
}

// je realise
  /////////CIBLE//////////
  .rolling-btn{
    background-color: #FFA1F5;
    width:fit-content;
    height: auto;
    padding: .5rem;
    border: 2px black;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Roboto-Regular';
    transform: rotate(-4deg);
    z-index: 100;
    position: absolute;
    left: 20%;
    bottom: 75%;
  }
  .rolling-categories{
    background-color: black;
    width: 100vw;
    height: auto;
    color: white;
    padding: 4rem;
    margin-bottom:2em;
  }
  
  .scrolling-banner {
    overflow: hidden;
    position: relative;
    top:5%;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 105vw;
    padding: .8rem;
    transform: rotate(.99turn);
    margin-left: -25px;
  }
  .scrolling-banner2{
    overflow: hidden;
    position: relative;
    top:20%;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 105vw;
    padding: .8rem;
    margin-left: -25px;
    transform: rotate(0.01turn);
  }
  
  .text-container {
    display: flex;
    white-space: nowrap;
    font-family: 'Karrik-Regular';
    font-size: 6em;
  }
  
  .text {
    padding: 0 2rem;
  }
  
  .scrolling-banner:hover{
    animation: none; // Arrêtez l'animation au survol (facultatif)
    background-color: violet;
    color: white;
  }