@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

:root{
  --Titles: 'Syne-Bold';
  --Corps-de-texte: 'Syne-Regular';
  --Logo : 'Krona One';
  --roseText:#F2A7F1;
  --bgColor : #edebe2;
}

@font-face {
  font-family : 'Syne-Bold';
  src: url('./assets/types/Syne-Bold.ttf') format('truetype');
  font-weight:900; 
}
@font-face {
  font-family : 'Syne-SemiBold';
  src: url('./assets/types/Syne-SemiBold.ttf') format('truetype');
  font-weight: lighter; 
}
@font-face {
  font-family : 'Syne-Regular';
  src: url('./assets/types/Syne-Regular.ttf') format('truetype');
  font-weight: lighter; 
}

.body-type{
display: flex;
flex-wrap: wrap;
}
.body-type p{
  font-family: var(--Titles);
	font-size: 110pt;
  & span{
    margin-right: 150px;
  }
}





/* STYLE GLOBAL*/
*{
  margin: 0;
  padding: 0;
  // cursor: none;
}

//Curseur
// .ring {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 22px;
//   height: 22px;
//   border: 2px solid rgba(31, 30, 30, 0.808);
//   border-radius: 100%;
//   transform: translate(-50%, -50%);
//   -webkit-transition-duration: 100ms;
//   transition-duration: 100ms;
//   -webkit-transition-timing-function: ease-out;
//   transition-timing-function: ease-out;
//   will-change: width, height, transform, border;
//   z-index: 999;
//   pointer-events: none;
// }
// .dot {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   width: 8px;
//   height: 8px;
//   background-color: black;
//   border-radius: 100%;
//   transform: translate(-50%, -50%);
//   z-index: 999;
//   pointer-events: none;
// }
// .ring.hovered {
//   width: 50px;
//   height: 50px;
//   border-width: 3px;
//   border-color: lightgray;
// }
// .dot.hovered {
//   display: none;
// }




// Conteneur principal
.scrollable-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Utilisez une hauteur fixe ou calculez dynamiquement en fonction de votre conception */
  overflow-y: auto; /* Rend le contenu scrollable en vertical si nécessaire */
  overflow-x: hidden;
}

.logo{
  width: 2rem;
  height: auto;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: .5rem 0rem 1rem 1rem;
}

a{
text-decoration: none;
color: black;
}

p{
  font-family: var(--Corps-de-texte);
  font-size: 1.5rem;
}

h1{
  font-family: var(--Titles);
  font-size: 5rem;
  gap: 1rem
}
section{
  position: relative;
  min-height: 100vh;
  margin: 5rem 0.5rem 5rem 0.5rem;
}
@media screen and (max-width: 768px) {
  section{
    margin-bottom: 1rem!important
  }
}




/* HEADER */
.header-container{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .5rem;
  background-color: white;
  width: 100vw;
  height: fit-content;
  z-index: 1000;
}
.header-container img{
  width: 8rem;
  height: fit-content;
}
.left-section {
  flex: 1;
  margin-left: 3rem;
  font-family: var(--Logo);
  font-size: 1rem;
}
.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  font-family: var(--Titles);
}

/*NAVIGATION*/
.navigation{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: var(--Titles);
}
.navigation a {
  text-decoration: none;
  color: #cdc6be;
}
nav{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cdc6be;
  padding: .5rem 1rem;
  z-index: 2;
}
nav > div{
  flex: 1;
}
.logo{
  width: 3rem;
  text-align: center;
}
.toggle-btn{
  display: flex;
  justify-content: flex-end;
}
.info p{
  color: #cdc6be;
  font-size: 1.5rem;
}


.burger{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
}
.burger:before,
.burger:after{
  content:"";
  width: 40px;
  height: 2px;
  position: absolute;
  background: #cdc6be;
  transition: all 250ms ease-out;
}
.burger:before{
  transform: translateY(-3px);
}
.burger:after{
  transform: translateY(3px);
}
.active.burger:before{
  transform:translateY(0);
}
.active.burger:after{
  transform: translateY(0) rotate(-45deg);
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #141412;
  pointer-events: none;
}
.overlay-menu{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap:1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.menu-item{
  display: flex;
  cursor: pointer;
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.menu-item p {
  position: relative;
  text-align: center;
  font-size: 15vw;
  line-height: 80%;
  // will-change: transform;
  transition: letter-spacing 0.3s;
  color: #cdc6be;
}
.menu-item p:hover{
  letter-spacing: 0.075em;
}
.menu-item p#active::after{
  content: "";
  position: absolute;
  top:45%;
  left: 0;
  transform: translateY(-50%);
  background: #c03f13;
  width: 100%;
  height: 12px;
}
// @media(max-width:900px){

// }


/* FOOTER */
.footer{
  position: fixed;
  top : 95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100vw;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  font-family: var(--Titles);
}
@media only screen and (max-width: 768px) {
  .footer{
    display: flex;
    flex-wrap: wrap;
    font-size: .6rem;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }
  .display{
    display: none;
  }
}

.footer img{
  margin-left: 1rem;
  width: 2rem;
  height: auto;
}

.flex-col-opposite{
  display: flex;
  flex-direction: column;
}


/* ACCUEIL */

.title{
  margin-top: 13rem;
}

.title div:first-child{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  animation: slideInLeft 1s ease-in-out;
}

.title h1{
  font-size: 8rem!important;
}

#singularite{
  margin-left: 25rem;
  text-align:center;
}


.char:first-of-type{
  transform:unset !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fleur {
  animation: fadeIn 10s ease; /* Durée de 1 seconde avec un effet d'interpolation (easing) */
}

#hovervideo{
  position: absolute;
  left: .2rem;
  bottom: .3rem;
  border-radius:90rem;
  width:99.3%;
  height: 10.6rem;
  object-fit: cover;
  opacity: 0;
}

#hovervideo:hover{
opacity: 1;
}
@keyframes slideInLeft {
  from {transform: translateX(-100%);}
  to { transform: translateX(0);}
}
@keyframes slideInRight {
  from {transform: translateX(100%);}
  to {transform: translateX(0);}
}


.bg-hp{
  // margin-top: 15rem;
  position: relative;
  height: 80vh;
  // background-image: url("../src/assets/bg2.png");
  // object-fit: cover;
}
.bg-hp img{
  z-index: -3;
  position: absolute;
  top: 2rem;
  left: 80vw;
  width: 30vw;
  height: auto
}


/* INTRO */
#displayVideoMobile{
  display: none;
}

@media only screen and (max-width: 768px) {
  #displayVideo {
    display:none;
  }
  #displayVideoMobile{
    display: block;
  }
}

.video{
  max-width: 100vw;
  max-height: auto;
  object-fit:contain;
}



/* ROUE */

// .Roue {
//   position: relative;
//   width: 150px; /* Ajustez selon vos besoins */
//   height: 150px; /* Ajustez selon vos besoins */
//   border-radius: 100%;
//   background-color: white;
//   border: 2px solid black;
// }

.logo-roue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  padding: 18px;
  width: 3rem;
}
.logo-roue img{
  width: 3rem;
}

text {
  font-size: 1.08rem;
}

.Conteneur svg{
z-index: 1000;
}

.rotate-svg {
  animation: rotate 8s linear infinite; // Change the duration (5s) as needed
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  color: black;
  width: 100vw;
  height: fit-content;
  font-size: 7rem;
  border-top: .3rem solid black;
  border-bottom: .3rem solid black;
  padding : 2rem;
  background-color: white;

}
.scroll-text{
  display: flex;
  white-space: nowrap;
  font-family: var(--Corps-de-texte);
  height: auto; /* Hauteur de chaque mot */
  line-height: 100px; /* Centrage vertical */
}

.text {
  padding: 2rem;
}


//////// PROJETS ////////
/// 
#projets h1{
  position: absolute;
  top: -3rem;
  font-size: 9rem;
}
.behance{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--Corps-de-texte);
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 30px;
  padding: .5rem;
  width: fit-content;
  height: 3vh;
  margin: 3rem;
 

  & a svg{
    width: 2.5rem;
    height: 5rem;
    margin-left: 1rem;
  }
}


.grid-lines div{
  border: 1px solid black;
  & p{
    font-size: 3rem;
  }
}

.imageHover{
  width: 20em;
  height : auto;
  z-index: 1000000;
}
.grid-container-projets{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 50vh, 80vw);
	overflow-x : scroll; /*permettre le scroll et non le depassement hors de l'écran*/
	scroll-snap-type : x mandatory;
}
.project-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(1, 50vw, 70vh);
  border-radius: 2rem;
  margin: 5rem;
  position: relative;
}
.project-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.projectImg{
width: 70vw;
height: 75vh;
margin: .5rem;
border-radius: 2rem;
border : 1px solid #27222112;
object-fit: cover;
}
.project-details p{ 
  color: #FFA1F5;
  margin-left: 2rem;
  text-transform: uppercase;
  font-weight: 600
}

.projectHoverVideo{
width: 70vw;
height: 75vh;
margin: .5rem;
border-radius: 2rem;
border : 1px solid #27222112;
object-fit: cover;
opacity: 0;
position: absolute;
}
.projectHoverVideo:hover{
  opacity: 1;
}
.project-description{
background-color: var(--bgColor);
color: #272221;
border-radius: 2rem;
padding: 1.5rem 2rem 2rem 1rem;
width: 70vw;
margin: .5rem;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: .5rem
}

.project-title{
    grid-column: 1/-1;
    line-height: .85;
    font-family: var(--Titles);
}

.project-txt{
  font-family: var(--Corps-de-texte);
}

.project-link{
  border: 2px  solid #272221;
  border-radius: 2rem;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  margin-left: 3rem;
}

.carousel-btn{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
  & img{
    width: 30px;
    height: fit-content;
  }
     
}

.title-destructured{
  display: flex;
  flex-wrap: wrap;
  justify-content:'center';
  align-items: center;
}

.bulles{
  display: flex;
  flex-wrap: wrap;
  margin: .5rem

}

.bulles p{
  border: 2px solid black;
  border-radius: 30px;
  padding: 1rem;
  width: fit-content;
  margin: .2rem 0rem .3rem 1.5rem;
}

/* inspired form gumroad website */
.behance {
  background: rgba(255, 255, 255, 0.874);
  border-radius: 16px;
  border: 2px solid rgba(10, 10, 10, 0.051);
  border-radius: 100px;
  padding: 0.8em 2em;
  transition: 0.2s;
  margin-top: -8rem;
}
.pill{
  background-color: white;
  border : 3px solid black;
  border-radius: 60px;
  padding: 1rem;
}
.pill p {
  font-size:1.5rem;
  font-family: var(--Titles);
}

.project-title{
  font-Size:7rem;
  padding-left:3rem;
}


/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  #projets{
    margin: 3rem;
  }
  .grid-container-projets{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0;
    overflow: hidden;
  }
  #projets h1 {
    font-size: 2rem; /* Decrease font size for smaller screens */
  }
  .project-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    // width: 100%;
  }
  .projectImgContainer{
    width: 100%;
    height: auto;
  }
  .projectImg,
  .projectHoverVideo {
    width: 100%; /* Ensure images/videos take full width on smaller screens */
    border-radius: 20px; /* Remove border radius on smaller screens */
    margin: 0; /* Reset margin */
    object-fit: cover;
  }
  .project-description {
    width: 99%; /* Ensure full width for project description */
    margin: .5rem 0 .5rem 0; /* Reset margin */
    padding: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 1fr; /* Change to a single column layout */
  }
  .project-title{
    width: 80%;
    font-size: 2.5rem;
    margin-top:1rem;
    padding: .5rem;
    text-align: center;
  }
  .project-txt {
    font-size: 1rem!important; /* Decrease font size for smaller screens */
    padding: 0!important;
    width: 80%;
    text-align: center;
  }
  .project-link {
    border: 1px solid black;
    padding: .7rem;
    margin: 1rem 0 1rem 0;
    font-size: 1rem; /* Add some space between elements */
  }
  .carousel-btn {
    gap: 1rem; /* Reduce gap between elements */
  }
  .behance {
    margin-top: -5rem; /* Adjust margin for smaller screens */
  }
  .pill p {
    font-size: 1rem; /* Decrease font size for smaller screens */
  }.carousel-btn{
    display: none;
  }
}

// JE REALISE
  /////////CIBLE//////////
  .rolling-btn{
    background-color: #FFA1F5;
    width:fit-content;
    height: auto;
    padding: .5rem;
    border: 2px black;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Roboto-Regular';
    transform: rotate(-4deg);
    z-index: 100;
    position: absolute;
    left: 16%;
    bottom: 75%;
  }
  .rolling-categories{
    background-color: black;
    width: 100vw;
    height: auto;
    color: white;
    padding: 4rem;
    margin-bottom:2em;
  }
  
  .scrolling-banner {
    overflow: hidden;
    position: relative;
    top:5%;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 105vw;
    padding: .8rem;
    transform: rotate(.99turn);
    margin-left: -35px;
  }
  .scrolling-banner2{
    overflow: hidden;
    position: relative;
    top:20%;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 105vw;
    padding: .8rem;
    margin-left: -35px;
    transform: rotate(0.01turn);
  }
  
  .text-container {
    display: flex;
    white-space: nowrap;
    font-family: 'Karrik-Regular';
    font-size: 6em;
  }  
.text {
  padding: 0 2rem;
}
  
.scrolling-banner:hover{
  animation: none; // Arrêtez l'animation au survol (facultatif)
  background-color: violet;
  color: white;
}                                                                                                                                     
.containerparallax{
  pointer-events: none;
  width:20vw;
  perspective: 800px; /*créer l'effet de profondeur*/
  perspective-origin: center;
}
.containerparallax img{
  width: 35rem;
  height: auto;
}          
#fusain-milieu{
  z-index: -1;
  position: absolute;
  right: 50%;
}
#fusain-haut{
  position: absolute;
}    
#fusain-gauche{
  z-index: -2;
  position: absolute;
  top : 60%;
  left: 20%
}
#fusain-droite{
  z-index: -3;
  position: absolute;
}
.parallaxtext{
padding: 0;
margin:0;
position: absolute;
}
.flexwrapCenter{
display: flex;
flex-wrap: wrap;
align-items: center;
position: relative;

}
.flex-wrapCenter img{
width: 300px;
}
.flexCenter{
  display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
height: 100vh;
margin-bottom: 10rem;
}                                                                             
.grid-massive-title{
display: flex;
flex-direction: column;
grid-column: 1/-1;
}                                                                             
.grid-massive-title-bloc{
display: flex;
position: relative;
}                                                                             
.grid-massive-title-bloc h2{
 margin-left: 0em;
margin-right: 0.05em;
 --kern: 0 0.05em 0 0em;
font-size: 30rem;
font-family: 'Karrik-Regular';
}
.roseType{
  color: var(--roseText);
}
.textTransition{
  font-size: 4rem; 
  margin-bottom: 1rem;
  font-family: var(--Titles);
  color: var(--roseText);
}
.social{
  display: flex;
  gap: .5rem
}
.social button{
  margin-top:1rem;
  border-radius: 150%;
  background-color: #272221;
  color: white;
  padding: .8rem;
  border: black;
}
form{
  display: flex;
  flex-direction: column;
  color:#272221;
  width: 30vw;
}
.flex-form-container{
  display: flex;
  position: relative;
}

.formulaire {
  position: absolute;
  right: 15%;
  top: 10%;
  font-family: var(--Titles);
}
.flexForm{
  display:flex;
  flex-wrap: nowrap;
  gap:.8rem;
  margin-top: .5rem;
  align-items: center;
}
.flexCol{
  display: flex;
  flex-direction: column;
  gap: .2rem;
  margin-bottom: 2rem;
}
input,textarea{
  border: none;
  border-bottom: 1px solid black;
}
textarea{
  border: 1px solid black;
  height: 200px;
}
#form-btn{
  background-color: #272221;
  border: none;
  border-radius: 60px;
  padding: .5rem;
  color: white;
  font-family: var(--Titles);
}
#muguet video{
  position: absolute;
  top: 16%;
  left: 38%;
  z-index: -100;
  transform: rotate(-20deg);
}
.c{
  display: none;
}


@media screen and (max-width: 768px) {
  .flex-form-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    & p{
      width: 90vw!important;
    }
  }
  .flex-form-container-item{
    margin-top: 5rem!important;
    position: relative!important;
  }
  .formulaire{
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 0 5rem 1rem;
  }
  form{
    width: 90vw!important;
  }
  .social{
    height: 90%;
  }
  #muguet{
    position: absolute;
  }
  #muguetvideo{
    top: 4vh!important;
    left: 37vw!important;
    width: 80vw!important;
  }
}




/*VIDEO REVEAL*/

.container-home{
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 2rem;
  font-family: var(--Titles);
}
.clipper-left{
  position: absolute;
  top: -30px;
  // left: 10vw;
  height: 100vh;
  width: 50vw;
  background: #fff;
  overflow: clip;
  clip-path: inset(0 0 0 0);
  display: flex;
  justify-content: flex-end;
}
.loader-text{
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clipper-right{
  position: absolute;
  top: -30px;
  right: 0;
  height: 100vh;
  width: 50vw;
  background: #fff;
  overflow: clip;
  clip-path: inset(0 0 0 0);
  display: flex;
  justify-content: flex-start;
}
.site-content{
  position: relative;
  width: 100vw;
  height: 90vh;
  z-index: -2;
  overflow: hidden;
}
.display-video{
  position: absolute;
  top:0;
  width: 100%;
  z-index:-1;
}
.pre-loader{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100000;
  background: #fff;
}
.loader-wrapper{
  position: relative;
  width: 2px;
  height: 140px;
  background: rgb(240,240,240);
  border-radius: 2px;
  overflow: hidden;
}
.loader{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
}
@media (max-width: 900px){
  .sidebar-nav{
    display: none;
  }
  .site-content{
    width: 100vw;
    left: 0;
  }
  .clipper-left{
    left:0;
    width: 50vw;
  }
}